@import './variables.scss';
@import './functions.scss';

@mixin media($comparison, $screen) {
  @media #{breakpoint($comparison, $screen)} {
    @content;
  }
}

@mixin margin() {
  margin: $base-spacing;

  @include media('min', $screen-desktop-small) {
    margin: $double-spacing;
  }
}

@mixin padding() {
  padding: $base-spacing;

  @include media('min', $screen-desktop-small) {
    padding: $double-spacing;
  }
}

@mixin column($wide) {
  flex-basis: column-flex-basis(1);

  @include media('min', $screen-mobile-large) {
    flex-basis: column-flex-basis($wide);
  }
}

@mixin flex-reset() {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

@mixin common-flex-direction() {
  flex-direction: row;

  @include media('max', $screen-mobile-large) {
    flex-direction: column;
  }
}
