$base-font-size: 20px;
$base-letter-spacing: 0.03em;
$header-letter-spacing: 0.08em;
$base-line-height: 1.2;
$header-line-height: 1.45;

$base-font-weight: 300;
$bold-font-weight: 700;

$base-font-family: 'MrEavesModOTBook';
$bold-font-family: 'MrEavesModOT';

$base-spacing: 1rem;

$breakpoints: (
  mobile-small: 320px,
  mobile-large: 425px,
  tablet: 768px,
  desktop-small: 1024px,
  desktop-large: 1440px,
  4k: 2560px,
);

$max-width: 990px;

$white: #ffffff;
$light-blue: #21c2de;
$dark-blue: #072C34;
$red: #FF4C4D;
$gray: #cccccc;
$black: #000000;
