$base-font-size: 20px;

$base-font-weight: 300;
$bold-font-weight: 700;

$base-font-family: 'MrEavesModOTBook';
$bold-font-family: 'MrEavesModOT';

$base-spacing: 1.2rem;
$double-spacing: $base-spacing * 2;

$screen-mobile-small: 320px;
$screen-mobile-large: 425px;
$screen-tablet: 768px;
$screen-desktop-small: 1024px;
$screen-desktop-large: 1440px;
$screen-4k: 2560px;

$max-width: 990px;
