@import '../../styling/toolbox.scss';

.header {
  @include spacing('padding', 0.25, 0.25);
  display: block;
  min-height: 3.25rem;

  .header__logo {
    float: left;

    img {
      width: 200px;
      display: inline-block;
    }
  }

  .header__toggle {
    display: inline-block;
    width: 32px;
    float: right;
    margin: .5rem .25rem;

    &:hover {
      cursor: pointer;
    }

    @include min-query(desktop-small) {
      display: none;
    }
  }

  .header__nav {
    display: none;

    &.-open {
      display: flex;
      width: 100%;
      flex-direction: column;
      background-color: $light-gray;
    }

    @include min-query(desktop-small) {
      display: inline-flex;
      float: right;
    }
  }

  .highlighted-link {
    padding: $base-spacing / 2;
    margin-left: $base-spacing / 2;
    margin-right: $base-spacing / 2;
  }
}
