@import '../../styling/toolbox.scss';

.footer {
  background: $dark-blue;
  margin-top: $base-spacing;
  padding: $base-spacing;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;

  .footer__column {
    display: block;
    flex: 0 0 100%;
    padding: 0.5rem;

    @include min-query(tablet) {
      flex: 0 0 33.3%;
    }
  }

  .footer__link {
    color: $dark-cyan;
    margin: $half-spacing $base-spacing;
    display: inline-block;
  }

  .footer__logo {
    height: 32px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .footer__disclaimer {
    @include type-size(0.8rem, 0.9rem, 1rem);
    border: 1px solid $dark-cyan;
    color: $dark-cyan;
    padding: $base-spacing;
    display: block;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__social-icon {
    display: inline-block;
    margin-left: $half-spacing;
    margin-right: $half-spacing;

    img {
      height: 32px;
      display: block;
    }
  }
}
