@import '../utilities/toolbox.scss';

.background-color-white {
  background-color: $white;
}

.background-color-gray {
  background-color: $gray;
}

.background-color-dark-blue {
  background-color: $dark-blue;
}

.hover-background-light-blue {
  &:hover {
    background-color: $light-blue;
  }
}

.highlight-light-blue {
  box-shadow: inset 0 -0.45em 0 $light-blue;
}

.color-white {
  color: $white;
}
