@import '../utilities/toolbox.scss';

.background-color-white {
  background-color: $white;
}

.background-color-gray {
  background-color: $gray;
}

.background-color-dark-blue {
  background-color: $dark-blue;
}
