@import '../utilities/toolbox.scss';

.background-image-cover {
  background-size: cover;
}

.background-image-100 {
  background-size: 100% 100%;
}

.background-image-center {
  background-position: center;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.background-image-height-hero {
  height: 50vh;

  @include media('min', $screen-tablet) {
    height: 60vh;
  }
}
