@import '../utilities/toolbox.scss';

.text-transform-uppercase {
  text-transform: uppercase;
}

.bold-font-weight {
  font-family: $bold-font-family;
  font-weight: $bold-font-weight;
}

.text-hero-size {
  font-size: 2.8rem;

  @include media('min', $screen-tablet) {
    font-size: 5.4rem;
  }
}

.text-medium-size {
  font-size: 1.25rem;
}

.text-large-size {
  font-size: 2.5rem;
}

.text-align-center {
  text-align: center;
}
