@import '../../styling/toolbox.scss';

$toggle-button-length-small: 64px;
$toggle-button-length-large: $toggle-button-length-small * 2;

@mixin toggle-button-size($basis) {
  width: $basis;
  height: $basis;
  left: calc(50% - #{$basis / 2});
  top: calc(50% - #{$basis / 2});
}

.lav-video {
  @include block-100;
  position: relative;

  &.-is-playing:hover {
    .video__toggle-button {
      display: block !important;
    }
  }

  .video__toggle-button {
    @include toggle-button-size($toggle-button-length-small);
    display: block;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: map-get($z-indexes, video-controls);
    cursor: pointer;

    &.-is-playing {
      display: none;
    }

    @include min-query(desktop-small) {
      @include toggle-button-size($toggle-button-length-large);
    }
  }

  video {
    @include block-100;
  }
}
