@import '../../styling/toolbox.scss';

.content-block-list {
  @include flex-100();
  @include max-width;
  margin-top: $base-spacing;
  justify-content: space-between;
  flex-wrap: wrap;

  @include min-query(desktop-small) {
    margin-bottom: $base-spacing;
  }
}
