@import '../../styling/toolbox.scss';

.content-block-list {
  @include flex-100();
  margin-top: $base-spacing;
  justify-content: space-between;
  flex-wrap: wrap;

  @include min-query(desktop-small) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    padding-bottom: $base-spacing;
    max-width: $max-width;
  }
}
