@import '../../styling/toolbox.scss';

.form {
  @include block-100;

  @include min-query(desktop-small) {
    margin-bottom: $base-spacing;
  }

  .form__input:not([type=checkbox]) {
    @include input-styling($white);
  }

  &.-blue {
    background-color: $light-blue;

    .form__submit {
      @include button-styling($light-blue, $white);
    }

    .markdown {
      color: $white;
    }
  }

  &.-navy {
    background-color: $dark-blue;

    .form__submit {
      @include button-styling($white, $red);
    }

    .markdown {
      color: $white;
    }
  }

  &.-red {
    background-color: $red;

    .form__submit {
      @include button-styling($red, $white);
    }

    .markdown {
      color: $white;
    }
  }

  &.-compact {
    .form__submit {
      width: 100%;
    }

    @include min-query(tablet) {
      .form__inputs {
        display: flex;
        flex-direction: row;
      }

      .form__input {
        margin-right: $base-spacing;
      }

      .form__submit {
        width: auto;
      }
    }
  }

  &.-dual {
    .form__container {
      @include min-query(desktop-small) {
        flex-direction: row;
        justify-content: space-between;
      }

      .form__primary, .form__secondary {
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;

        @include min-query(desktop-small) {
          @include flex-basis-half($base-spacing);
        }
      }
    }
  }

/*
  &.-dual.-arrow {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 10%;
      height: 100%;
    }

    .form__container {
      .form__primary {
        @include min-query(desktop-small) {
          @include flex-basis-custom(60%, $base-spacing);
          padding-right: 10%;
        }
      }

      .form__secondary {
        @include min-query(desktop-small) {
          @include flex-basis-custom(40%, $base-spacing);
        }
      }
    }
  }
*/

  .form__container {
    @include max-width;
    @include margin-center;
    display: flex;
    flex-direction: column;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    padding-left: $half-spacing;
    padding-right: $half-spacing;

    @include min-query(desktop-small) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .form__inputs {
    margin-bottom: $half-spacing / 2;
  }

  .form__disclaimer {
    @include type-size(0.8rem, 0.8rem, 0.9rem);
    color: $light-gray;
    margin-top: $half-spacing;
    text-align: center;
  }

  .form__submit {
    width: 100%;
    text-align: center;

    @include min-query(tablet) {
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - #{$double-spacing});
    }
  }
}
