@import '../../styling/toolbox.scss';

.action-tile-block-list {
  @include flex-100();
  @include max-width;
  justify-content: space-between;
  flex-wrap: wrap;

  @include min-query(desktop-small) {
    margin-bottom: $base-spacing;
  }
}
