@import '../../styling/toolbox.scss';

.content-block {
  padding: $base-spacing * 2;
  flex-basis: 100%;
  background-size: cover;
  background-position: center;

  @include min-query(desktop-small) {
    margin-bottom: $base-spacing;
    
    &.-half-display {
      @include flex-basis-half($half-spacing);
    }
  }

  &.-all-white {
    * {
      color: $white;
    }
  }

  &.-blue-headers {
    background-color: $light-gray;

    h1, h2, h3 {
      color: $light-blue;
    }
  }

  &.-center-align {
    text-align: center;
  }

  > .content-block__link {
    display: block;
  }
}
