@import '../../styling/toolbox.scss';

.content-block {
  padding: $base-spacing * 2;
  flex-basis: 100%;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  background-size: cover;
  background-position: center;

  &.-half-display {
    max-width: 460px;
  }

  &.-full-display {
    margin: 1rem;
    max-width: $max-width;
    width: 100%;
  }

  @include min-query(tablet) {
    &.-half-display {
      margin: 1rem;
      flex-basis: calc(50% - 2rem);
    }
  }

  &.-all-white {
    * {
      color: $white;
    }
  }

  &.-blue-headers {
    background-color: $light-gray;

    h1, h2, h3 {
      color: $light-blue;
    }
  }

  &.-center-align {
    text-align: center;
  }

  > .content-block__link {
    display: block;
  }
}
