@import '../../styling/toolbox.scss';

.content-block {
  padding: $base-spacing * 2;
  flex-basis: 100%;
  flex-shrink: 0;
  margin-bottom: $base-spacing;
  background-size: cover;
  background-position: center;

  @include min-query(tablet) {
    flex-basis: 50%;
    flex-shrink: 1;
    margin: $base-spacing;
  }

  &.-all-white {
    * {
      color: $white;
    }
  }

  &.-blue-headers {
    background-color: $light-gray;

    h1, h2, h3 {
      color: $light-blue;
    }
  }
}
