@import '../../styling/toolbox.scss';

.markdown {
  h1 {
    @include spacing('margin-bottom', 0.5, 0.1);
  }

  h2 {
    @include spacing('margin-bottom', 1, 0.1);
    @include type-size(1.1rem, 1.2rem, 1.4rem);

    color: $red;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    text-transform: none;
  }

  h6 {
    @include type-size(0.6rem, 0.7rem, 0.8rem);
    color: $gray;
    text-transform: none;
  }

  h3, h4, h4, h6 {
    @include spacing('margin-bottom', 0.25, 0.1);
  }

  p {
    @include spacing('margin-bottom', 0.5, 0.1);
  }
}
