@import '../utilities/toolbox.scss';

.grid {
  display: flex;
}

.grid-inline {
  display: inline-flex;
}

.grid-common-direction {
  @include common-flex-direction();
}

.grid-column-direction {
  flex-direction: column;
}

.grid-wrap {
  flex-wrap: wrap;
}

.grid-justify-center {
  justify-content: center;
}

.grid-align-center {
  align-items: center;
}

.column {
  @include flex-reset();
}

@for $i from 1 through 12 {
  .column-#{$i} {
    @include column($i);
  }
}
